.app__header {
  color: $brand-madura;
  height: $header-height;
  margin-bottom: $grid-gutter-width;
  text-align: center;

  h1 {
    font-size: 7rem;
    font-weight: 100;
    margin: $grid-gutter-width 0;
  }
}
