// scss-lint:disable MergeableSelector

// Footable Core
.footable {
  width: 100%;

  &.breakpoint {
    > tbody {
      > tr {
        &.footable-detail-show > td {
          border-bottom: 0;
        }

        &:hover:not(.footable-row-detail) {
          cursor: pointer;
        }

        > td {
          &.footable-cell-detail {
            background: #eee;
            border-top: 0;
          }

          > span.footable-toggle {
            color: #888;
            display: inline-block;
            font-family: 'Glyphicons Halflings' !important;
            font-size: 14px;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            padding-right: 5px;
            position: relative;
            speak: none;
            text-transform: none;
            top: 2px;

            &:before {
              content: "\e081";
            }
          }
        }
      }
    }

    &.toggle-arrow-small > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
      content: '"';
    }

    &.toggle-arrow-small > tbody > tr > td > span.footable-toggle:before {
      content: '9';
    }

    &.toggle-arrow-circle > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
      content: '\e01b';
    }

    &.toggle-arrow-circle > tbody > tr > td > span.footable-toggle:before {
      content: '\e01d';
    }

    &.toggle-arrow-circle-filled > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
      content: '\e00b';
    }

    &.toggle-arrow-circle-filled > tbody > tr > td > span.footable-toggle:before {
      content: '\e00d';
    }

    &.toggle-arrow-tiny > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
      content: '\e01f';
    }

    &.toggle-arrow-tiny > tbody > tr > td > span.footable-toggle:before {
      content: '\e021';
    }

    &.toggle-arrow-alt > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
      content: '\e017';
    }

    &.toggle-arrow-alt > tbody > tr > td > span.footable-toggle:before {
      content: '\e019';
    }

    &.toggle-medium > tbody > tr > td > span.footable-toggle {
      font-size: 18px;
    }

    &.toggle-large > tbody > tr > td > span.footable-toggle {
      font-size: 24px;
    }
  }

  > thead > tr > th {
    white-space: nowrap;
    user-select: none;

    &.footable-sortable:hover {
      cursor: pointer;
    }
    
    span.footable-sort-indicator {
      display: inline-block;
      font-family: 'Glyphicons Halflings' !important;
      -webkit-font-smoothing: antialiased;
      font-size: 12px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      padding-left: 5px;
      speak: none;
      text-transform: none;

      &:before {
        content: '\e150';
      }
    }

    &.footable-sorted > span.footable-sort-indicator:before {
      content: '\e253';
    }

    &.footable-sorted-desc > span.footable-sort-indicator:before {
      content: '\e252';
    }

  }

  > tfoot .pagination {
    margin: 0;
  }

  .footable.no-paging .hide-if-no-paging {
    display: none;
  }

  .footable-row-detail-inner {
    display: table;
  }

  .footable-row-detail-row {
    display: table-row;
    line-height: 1.5em;
  }

  .footable-row-detail-cell {
    border-bottom: 1px solid $brand-primary !important;
  }

  .footable-row-detail-group {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2em;
  }

  .footable-row-detail-name {
    display: table-cell;
    font-weight: bold;
    padding-right: 0.5em;
  }

  .footable-row-detail-value {
    display: table-cell;
  }

  .footable-odd {
    background-color: #f7f7f7;
  }
}

// Footable Theme

.footable {
  background: #fff;
  border-collapse: separate;
  border-radius: 0;
  border-spacing: 0;
  color: #444;
  margin: 0 auto;
  width: 100%;

  //prevents column flickering
  .footable-toggle {
    width: 2rem;
  }

  thead {
    > tr {
      > th {
        border-bottom: 1px solid #333;
        padding: 10px 10px 0;
      }

      > th,
      > td {
        border-left: 0;
        border-top: 0;
        color: #333;
        font-size: 1.5rem;
        font-weight: bold;

        &.footable-first-column {
          border-left: 0;
        }
      }
    }
  }

  tbody {
    > tr {
      &:hover:not(.footable-row-detail) {
        background: #eee;
      }

      > td {
        border: 0;
        border-top: 1px solid #eee;
        padding: 1rem 1.5rem;

        &.footable-row-detail-cell,
        &.footable-first-column {
          border-left: 0;
        }

        a.heading {
          color: $brand-primary;
          font-size: 18px;
        }

        a.email {
          display: block;
        }
      }
    }

    img {
      vertical-align: middle;
    }
  }

  tfoot {

    > tr {
      > th,
      > td {
        background-color: transparent;
        border: 0;
        border-top: 2px solid $brand-primary;
        color: #fff;
        text-align: center;
      }
    }

    .pagination {
      margin: 0;

      ul {
        box-shadow: none;
        display: inline-block;
        list-style: none;
        margin: 5px 5px 0;
        padding: 0;
        vertical-align: middle;

        &:empty {
          display: none;
        }

        > li {
          display: inline-block;

          > a,
          > span {
            background: transparent;
            border: 2px solid transparent;
            color: $text-color;
            float: left;
            margin: 0 3px;
            padding: 1px 5px;
            text-decoration: none;
          }

          &.disabled > a {
            color: #999;
          }

          &.active > a {
            background-color: $brand-primary;
            color: #fff;
          }

          &:first-child > a,
          &:last-child > a,
          &:first-child > span,
          &:last-child > span {
            border-radius: 0;
          }
        }
      }
    }
  }

  &.breakpoint {
    tbody {
      > tr {
        &.footable-row-detail {
          background: #eee;
        }

        &:hover:not(.footable-row-detail) {
          cursor: pointer;
        }

        > td.footable-row-detail-cell {
          background: #fff;
        }
      }
    }
  }

  &__filter {
    margin-bottom: $grid-gutter-width;
    margin-left: ($grid-gutter-width / 2);
    margin-right: ($grid-gutter-width / 2);

    @media (min-width: 640px) {
      margin-left: 0;
      margin-right: 0;
    }

    form {
      text-align: right;
    }

    .form-group {
      @media (min-width: 640px) {
        display: inline-block;
        margin: 0;
        min-width: 30%;

        &:nth-of-type(2) {
          margin-left: 5%;
        }
      }

      @include md {
        width: 45%;
      }
    }

    .control-label {
      color: $brand-primary;
      display: inline-block;
      padding: 7px 12px 0 0;

      @include md {
        text-align: left;
      }
    }

    input.form-control {
      border-color: $brand-primary;
      box-shadow: none;
      margin-right: ($grid-gutter-width / 2);
    }

    select.form-control {
      border-color: $brand-primary;

      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($brand-primary, 0.6);
      }
    }
  }
}
